.btn {
  background-color: #ffffff;
  border: 1px solid rgb(10, 10, 10);
  border-radius: 5px;
}
.add_btn {
  float: right;
}

.main-wrapper {
  width: 50%;
  margin: auto;
}

.activity-txt {
  width: 85%;
}

.delete-btn {
  float: right;
  background-color: red;
}

.edit_btn{
  float:right;
  background-color: yellow;
}